{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-info" >Submit</button>
                <span>If,not have account <a href="{% url 'register' %}">Register now</a></span>
            </form>
        </div>
    </div>
</div>






{% endblock content %}